<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
     <li class="{% if page.title == "Usage Rules" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage-rules">Usage Rules</a>
     </li>
	  <li class="{% if page.title == "License" %}current{% endif %}">
        <a href="{{ site.url }}/docs/license">License</a>
     </li>
	  <li class="{% if page.title == "Quick-Start" %}current{% endif %}">
        <a href="{{ site.url }}/docs/quick-start">Quick-Start</a>
     </li>
    </ul>
	<h4>API</h4>
	<ul>

	  <li class="{% if page.title == "Overview" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/overview">Overview</a>
      </li>

	  <li class="{% if page.title == "Device Manager" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/devices">Device Manager</a>
      </li>

	  <li class="{% if page.title == "File-system" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/fs">File-system</a>
      </li>

	  <li class="{% if page.title == "File I/O" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/fs/file">File I/O</a>
      </li>

	  <li class="{% if page.title == "GPIO Subsystem" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/gpio">GPIO Subsystem</a>
      </li>

	  <li class="{% if page.title == "Handle Manager" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/handle">Handle Manager</a>
      </li>

	  <li class="{% if page.title == "I2C Subsystem" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/i2c">I2C Subsystem</a>
      </li>

	  <li class="{% if page.title == "Memory Manager" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/mm">Memory Manager</a>
      </li>

	  <li class="{% if page.title == "Processes and Threads" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/process">Processes and Threads</a>
      </li>

	  <li class="{% if page.title == "RTC Subsystem" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/rtc">RTC Subsystem</a>
      </li>

	  <li class="{% if page.title == "SDIO Subsystem" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/sdio">SDIO Subsystem</a>
      </li>

	  <li class="{% if page.title == "Semaphores & Mutex's" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/semaphore">Semaphores & Mutex's</a>
      </li>

	  <li class="{% if page.title == "Syslog" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/syslog">Syslog</a>
      </li>

	  <li class="{% if page.title == "Time & Timers" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/timers">Time & Timers</a>
      </li>

	  <li class="{% if page.title == "Watchdog" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api/watchdog">Watchdog</a>
      </li>
	</ul>
  </aside>
</div>
