<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>By <a href="http://james.walms.co.uk">James Walmsley</a>, Robert Steinbauer, and many more <a href="https://github.com/jameswalmsley/bitthunder/graphs/contributors">awesome&nbsp;contributors</a>.</p>
    </div>
	<div class="unit one-third align-center">
	  <p>
		<!-- Put this just before the closing body tag -->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="bitthunder">Tweet</a>		
	  </p>
	</div>
    <div class="unit one-third align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
